<!DOCTYPE html>
<html>

<head>

  {% block head %}

  <title>Incluir Terapias Integradas</title>

  {% endblock %}

  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <header>
    <div class="links">
      <a href="/terapeutas">Terapeutas</a>
      <a href="/pacientes">Pacientes</a>
    </div>
  </header>

  {% block content %}

  {% endblock %}

<script src="js/scripts.js"></script>
</body>

</html>