<div class="item">
  <div>
    Avatar URL
  </div>
  <div>
    <input
      type="url"
      name="avatar_url"
      placeholder="http://"
      value="{{ paciente.avatar_url}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Paciente
  </div>
  <div>
    <input
      type="text"
      name="name"
      placeholder="Nome do Paciente"
      value="{{ paciente.name}}"
      >
  </div>
</div>

<div class="item">
  <div>
    E-mail
  </div>
  <div>
    <input
      type="email"
      name="email"
      placeholder="email@provedor.com.br"
      value="{{ paciente.email}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Senha
  </div>
  <div>
    <input
      type="password"
      name="passwd"
      placeholder="Digite uma senha"
      value="{{ paciente.passwd}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Data de Nascimento
  </div>
  <div>
    <input
      type="date"
      name="birth"
      value="{{ paciente.birth}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Gênero
  </div>
  <div>
    <span>
      <input type="radio" name="gender" value="M"
        {% if paciente.gender == "M" %}
          checked
        {% endif %}
      > Masculino
    </span>
    <span>
      <input type="radio" name="gender" value="F"
        {% if paciente.gender == "F" %}
          checked
        {% endif %}
      > Feminino
      </span>
  </div>
</div>

<div class="item">
  <div>
    Tipo Sanguíneo
  </div>
  <div>
    <select name="blood">
      <option value="A0"  {% if paciente.blood == "A0" %}selected{% endif %}>
        A-
      </option>
      <option value="A1"  {% if paciente.blood == "A1" %}selected{% endif %}>
        A+
      </option>
      <option value="B0"  {% if paciente.blood == "B0" %}selected{% endif %}>
        B-
      </option>
      <option value="B1"  {% if paciente.blood == "B1" %}selected{% endif %}>
        B+
      </option>
      <option value="AB0" {% if paciente.blood == "AB0" %}selected{% endif %}>
        AB-
      </option>
      <option value="AB1" {% if paciente.blood == "AB1" %}selected{% endif %}>
        AB+
      </option>
      <option value="O0"  {% if paciente.blood == "O0" %}selected{% endif %}>
        O-
      </option>
      <option value="O1"  {% if paciente.blood == "O1" %}selected{% endif %}>
        O+
      </option>
    </select>
  </div>
</div>

<div class="item">
  <div>
    Peso (Kg)
  </div>
  <div>
    <input
      type="number"
      name="weight"
      value="{{ paciente.weight}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Altura (cm)
  </div>
  <div>
    <input
      type="number"
      name="height"
      value="{{ paciente.height}}"
      >
  </div>
</div>

<div class="item">
  <div>
    Terapeuta
  </div>
  <div>
    <select name="terapeuta_id">
      {% for terapeuta in terapeutaOptions %}
      <option value="{{ terapeuta.id}}" {% if pacientes.terapeuta_id == terapeuta.id %}selected{% endif %}>
        {{ terapeuta.name}}
      </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item">
  <div>
    Especialidades
  </div>
  <div>
    <input
      type="text"
      name="services"
      placeholder="Digite a especialidade"
      value="{{ paciente.services }}"
      >
  </div>
</div>

<div class="item">
  <div>
    Telefone
  </div>
  <div>
    <input
      type="text"
      name="phone"
      placeholder="(79) 0000-0000"
      value="{{ paciente.phone }}"
      >
  </div>
</div>

<div class="item">
  <div>
    Tel. Celular
  </div>
  <div>
    <input
      type="text"
      name="cellphone"
      placeholder="(79) 00000-0000"
      value="{{ paciente.cellphone }}"
      >
  </div>
</div>

<div class="item">
  <div>
    Endereço Completo
  </div>
  <div>
    <input
      type="text"
      name="address"
      placeholder="Digite o endereço completo"
      value="{{ paciente.address }}"
      >
  </div>
</div>

<div class="item">
  <div>
    Status
  </div>
  <div>
    <span>
      <input type="radio" name="status" value="1"
        {% if paciente.status == "1" %}
          checked
        {% endif %}
      > Em processo
    </span>
    <span>
      <input type="radio" name="status" value="0"
        {% if paciente.status == "0" %}
          checked
        {% endif %}
      > Alta
      </span>
  </div>
</div>

<button type="submit">Salvar</button>